<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
  <title>Task</title>
  <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="model">
      <p>{{ model }}</p>
      <p> На сколько процентов А.М. лучший? {{ counter }} %</p>
      <button v-on:click="counter += 100">+100</button>
    <hr/>
    <form class="login" @submit.prevent="login">
     <h1>Чтобы получить бесплатный курс</h1>
      <h2>программирования на Python, заполни форму.</h2>
      <label>Имя</label>
      <input required v-model="name" onkeyup="checkParams()" id="fname" type="text" placeholder="Ваше имя"/>

    <label for="age">Возраст</label>
    <input type="number" onkeyup="checkParams()" name="age"  id="age" v-model="age" min="0">

     <label>Email</label>
     <input required v-model="email" onkeyup="checkParams()"  id="email" type="email" placeholder="Почта"/>
     <hr/>
<div id="app">
     <button id="sumbit" @click="getMessage">Получить</button>

</div>

   </form>

  </div>

  <script>

     var app = new Vue({
      el: '#app',
      data: {
        model: '',
        counter: 100,
        name: '',
        email: ''

      },
       methods: {
     
    getMessage () {
      alert('Здравствуйте, '+ this.name+'!'+ ' На Вашу почту '+ this.email+', отправлен бесплатный курс программирования.')
    }
  }
    })


  </script>


</body>
</html>